include tox.ini
include README.rst
include LICENSE.rst
include requirements.txt
include dev-requirements.txt
include pyproject.toml

recursive-include src *.c *.h
recursive-include test *.py

prune build
prune dist

global-exclude *.o *.so
